<head>
    <title>hello</title>
</head>

<body>
<h1>You are in group {{currentGroup}}</h1>
<form id="add-new-group">
    <input type="text" name="text" placeholder="enter group name here">
    <button type="submit">Add new group</button>
</form>
{{#each groups}}
    {{>group}}
{{/each}}

{{#if isInGroup}}
<form id="chat-input">
    <input type="text" name="chat" placeholder="enter chat stuff here">
</form>
<button id="delete-group-button">Delete group {{currentGroup}}</button>
{{/if}}

<textarea rows="50" cols="50">
    {{groupChatContents}}
</textarea>
</body>

<template name="group">
    <button class="group-button">Enter group {{groupName}}</button>
</template>
